<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML-full"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Register.StartupHook("TeX Jax Ready",function () {
    var TEX = MathJax.InputJax.TeX;
    var PREFILTER = TEX.prefilterMath;
    TEX.Augment({
      prefilterMath: function (math,displaymode,script) {
        math = "\\displaystyle{"+math+"}";
        return PREFILTER.call(TEX,math,displaymode,script);
      }
    });
  });
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      processEnvironments: true,
	  TeX: { extensions: ['AMSmath.js', 'AMSsymbols.js', 'noErrors.js', 'noUndefined.js'] }
    },
	showMathMenu: false,
    messageStyle: "none"
  });
</script>
